<!DOCTYPE html>
<html>
<head>
	<title>Asyncronous</title>
</head>
<body>
     <button id="myButton">
     	Click Me!
     </button>
     <script>
     	document.getElementById("myButton").addEventListener('click',function(){
     		num++;
     		docment.getElementById("myButton").innerHTML = num
     	});
     </script>
</body>
</html>